{% extends 'layout.html.twig' %}

{% block title %}{{'event stores'|trans}}{% endblock %}

{% block breadcrumbs %}
  {% embed '_bootstrap/breadcrumb.html.twig' %}
    {% block crumbs %}
      {% import '_bootstrap/breadcrumb.html.twig' as breadcrumb %}
      {{breadcrumb.item('event stores')}}
    {% endblock %}
  {% endembed %}
{% endblock breadcrumbs %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" href="{{path('event_store_aggregate_index',{'aggregate':'vendor'})}}">{{'vendors'|trans}}</a>
          <a class="nav-link" href="{{path('event_store_aggregate_index',{'aggregate':'warehouse'})}}">{{'warehouses'|trans}}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
