{#
  @var WarehouseInterface entity
#}
{% extends 'layout.html.twig' %}

{% block title %}{{entity.name}} | {{'warehouses'|trans}}{% endblock %}

{% block breadcrumbs %}
  {% embed '_bootstrap/breadcrumb.html.twig' %}
    {% block crumbs %}
      {% import '_bootstrap/breadcrumb.html.twig' as breadcrumb %}
      {{breadcrumb.item('warehouses', 'warehouse_index')}}
      {{breadcrumb.item(entity)}}
    {% endblock %}
  {% endembed %}
{% endblock breadcrumbs %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        {# @todo menu event #}
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" href="{{path('warehouse_edit', {'id':entity.id})}}"><i class="fas fa-edit fa-fw"></i>&nbsp;{{'edit'|trans}}</a>
          <a class="nav-link" href="{{path('warehouse_clone', {'id':entity.id})}}"><i class="fas fa-clone fa-fw"></i>&nbsp;{{'clone'|trans}}</a>
          {#<a class="nav-link" href="{{path('warehouse_log', {'id':entity.id})}}"><i class="fas fa-terminal fa-fw"></i>&nbsp;{{'log'|trans}}</a>#}
          <a class="nav-link text-danger" href="{{path('warehouse_delete', {'id':entity.id})}}"><i class="fas fa-trash fa-fw"></i>&nbsp;{{'delete'|trans}}</a>
        </div>
      </div>
      <div class="col-sm-10">
        {% embed '_bootstrap/table.html.twig' %}
          {% block tbody %}
            <tr><th>{{'id'|trans}}</th><td>{{entity.id}}</td></tr>
            <tr><th>{{'name'|trans}}</th><td>{{entity.name}}</td></tr>
          {% endblock %}
        {% endembed %}
      </div>
      {#
      <div class="col-sm-4">
        {% embed '_bootstrap/table.html.twig' %}
          {% block tbody %}
            {% if entity.address %}
              <tr><th>{{'id'|trans}}</th><td>{{entity.address.id}}</td></tr>
              <tr><th>{{'phone'|trans}}</th><td>{{entity.address.phone}}</td></tr>
              <tr><th>{{'first name'|trans}}</th><td>{{entity.address.firstName}}</td></tr>
              <tr><th>{{'last name'|trans}}</th><td>{{entity.address.lastName}}</td></tr>
              <tr><th>{{'company name'|trans}}</th><td>{{entity.address.companyName}}</td></tr>
              <tr><th>{{'address one'|trans}}</th><td>{{entity.address.addressOne}}</td></tr>
              <tr><th>{{'address two'|trans}}</th><td>{{entity.address.addressTwo}}</td></tr>
              <tr><th>{{'state'|trans}}</th><td>{{entity.address.state}}</td></tr>
              <tr><th>{{'city'|trans}}</th><td>{{entity.address.city}}</td></tr>
              <tr><th>{{'county'|trans}}</th><td>{{entity.address.county}}</td></tr>
              <tr><th>{{'postal code'|trans}}</th><td>{{entity.address.postalCode}}</td></tr>
              <tr><th>{{'country'|trans}}</th><td>{{entity.address.country}}</td></tr>
              <tr><th>{{'country code'|trans}}</th><td>{{entity.address.countryCode}}</td></tr>
              <tr><th>{{'latitude'|trans}}</th><td>{{entity.address.latitude}}</td></tr>
              <tr><th>{{'longitude'|trans}}</th><td>{{entity.address.longitude}}</td></tr>
            {% else %}
              <tr><td>{{'no address found'|trans}}</td></tr>
            {% endif %}
          {% endblock %}
        {% endembed %}
      </div>
      #}
    </div>
  </div>
{% endblock %}
