{% extends 'base.html.twig' %}

{% block body %}
  {% import '_bootstrap/alert.html.twig' as alert %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{path('homepage')}}">
      <img src="{{asset('images/commercekitty/logo.png')}}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Commerce Kitty
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {{knp_menu_render(knp_menu_get('generic_menu', [], {'event_name':'topbar'}), {'template':'menu.navbar.html.twig'})}}
      {{knp_menu_render(knp_menu_get('generic_menu', [], {'event_name':'profile'}), {'template':'menu.profile.html.twig'})}}
    </div>
  </nav>
  {% block breadcrumbs %}{% endblock breadcrumbs %}
  {% for context, messages in app.flashes %}
    {% for message in messages %}
      {{alert.alert(message, context)}}
    {% endfor %}
  {% endfor %}
  {% block content %}{% endblock content %}
{% endblock %}
