<tr><th>{{'host'|trans}}</th><td>{{entity.host}}</td></tr>
<tr><th>{{'consumer key'|trans}}</th><td>{{entity.consumerKey}}</td></tr>
<tr><th>{{'consumer secret'|trans}}</th><td>{{entity.consumerSecret}}</td></tr>
